@use "styles" with (
  $insideMargin: 2em
);

.education {
  background: fixed linear-gradient(to top left, #222, #666);
  color: styles.$header-textColor;
  @include styles.columns(2);

  hgroup {
    display: flex;
    align-items: right;

    h2 {
      flex: 1;
      text-align: right;
    }
  }

  article {
    text-align: left;

    .degree {
      margin: 0;
    }

    .dates {
      color: #6fa0d1;
      margin-bottom: 0.35rem;
    }

    li {
      list-style: none;
      font-weight: 300;
      font-size: 0.92em;
      margin-top: 0.35rem;
    }
  }
}

.school {
  margin-bottom: 0.35rem;
}
