@use 'styles';

.email {
  .input {
    position: relative;

    .anchor {
      position: absolute;
      top: 0;
      left: 8rem;
      content: '';
    }

    .copyButton {
      height: 1.2em;
      width: 1.2em;
    }

    .copyButton {
      bottom: 1em;
      left: 0.6em;
      position: absolute;
      cursor: pointer;
    }

    input[readonly] {
      padding-left: 2em;
      color: #191919;
      cursor: pointer;
    }
  }
}
