@use "styles/sizes";
@use "styles/splashes";

@mixin -columns($numCols) {
  display: grid;
  grid-template-columns: repeat($numCols, 1fr);
  gap: splashes.$standardVerticalMargin;
  text-align: center;
  justify-content: center;
  padding: splashes.$standardVerticalMargin splashes.$outsideMargin;

  > * {
    flex-basis: calc(100% / $numCols);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@mixin -nocols {
  min-width: 150px;
  flex-direction: column;
  padding: splashes.$standardVerticalMargin splashes.$outsideMargin;
}

@mixin columns($numCols) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include sizes.phone {
    @include -nocols();
  }

  @include sizes.vertical-tablet {
    @include -nocols();
  }

  @include sizes.horizontal-tablet {
    @if $numCols > 2 {
      @include -nocols();
    } @else {
      @include -columns($numCols);
    }
  }

  @include sizes.desktop {
    @include -columns($numCols);
  }
}
