@use "styles" with (
  $standardVerticalMargin: 12em
);

$titleSize: 48px;
$mediumTitleSize: 40px;
$smallTitleSize: 30px;
$logoMargin: styles.$imageMargin;

.header {
  @include styles.columns(2);
  color: styles.$header-textColor;
  background: linear-gradient(
    to bottom right,
    styles.$header-topLeftBackground,
    styles.$header-bottomRightBackground
  );

  .titleCard {
    @include styles.vertical-tablet {
      margin-bottom: 5em;
    }

    @include styles.phone {
      margin-bottom: 5em;
    }
  }

  .websiteLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    @include styles.vertical-tablet {
      margin-bottom: 1em;
    }

    @include styles.phone {
      margin-bottom: 1em;
    }

    .websiteLogo {
      height: $titleSize;
      width: $titleSize;

      @include styles.vertical-tablet {
        height: $mediumTitleSize;
        width: $mediumTitleSize;
      }

      @include styles.phone {
        height: $smallTitleSize;
        width: $smallTitleSize;
      }
    }

    .websiteTitle {
      font-size: $titleSize;
      line-height: $titleSize;

      @include styles.vertical-tablet {
        font-size: $mediumTitleSize;
        font-size: $mediumTitleSize;
      }

      @include styles.phone {
        font-size: $smallTitleSize;
        line-height: $smallTitleSize;
      }

      margin: 0;
      margin-left: $logoMargin;
      font-weight: 300;
    }
  }

  sub {
    margin-top: 0.8em;
    font-size: 0.9em;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      @include styles.link;
    }

    .descriptor {
      padding-top: 15px;
      padding-bottom: 14px;
    }

    .bar {
      display: block;
      background-color: styles.$header-barColor;
      height: 1px;
      width: 100%;
    }
  }
}
