@use 'styles' with (
  $standardVerticalMargin: 12em
);

$titleSize: 48px;
$mediumTitleSize: 40px;
$smallTitleSize: 30px;
$logoMargin: styles.$imageMargin;

.header {
  position: relative;
  @include styles.columns(2);
  color: styles.$header-textColor;
  background: radial-gradient(circle at top right, #245b91, transparent 70vw),
    radial-gradient(at top left, #249191, transparent 125vw),
    radial-gradient(at bottom right, #24915b, transparent 95vw),
    radial-gradient(circle at bottom left, #242491, transparent 60vw);

  @include styles.phone {
    &::after {
      background: none;
    }
  }

  article {
    z-index: 1;
  }

  .titleCard {
    @include styles.vertical-tablet {
      margin-bottom: 5em;
    }

    @include styles.phone {
      margin-bottom: 5em;
    }
  }

  .websiteLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    @include styles.vertical-tablet {
      margin-bottom: 1em;
    }

    @include styles.phone {
      margin-bottom: 1em;
    }
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      @include styles.link;
    }

    .descriptor {
      padding-top: 15px;
      padding-bottom: 14px;
    }

    .bar {
      display: block;
      background-color: styles.$header-barColor;
      height: 1px;
      width: 100%;
    }
  }
}
