@use 'styles';

@mixin attached-form {
  .formItem {
    margin: 0;

    label {
      display: none;
    }

    input,
    textarea {
      margin: 0;
      border-radius: 0;
      border-bottom: 0;
    }

    input:hover,
    textarea:hover {
      border-bottom-color: styles.$theme-secondary;
    }

    &:first-of-type input,
    &:first-of-type textarea {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-of-type input,
    &:last-of-type textarea {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 1px solid #999;
    }

    &:last-of-type input:hover,
    &:last-of-type textarea:hover,
    &:last-of-type input:active,
    &:last-of-type input:focus,
    &:last-of-type textarea:active,
    &:last-of-type textarea:focus {
      border-bottom-color: styles.$theme-secondary;
    }

    &:hover + .formItem input,
    &:hover + .formItem textarea {
      border-top-color: styles.$theme-secondary;
    }

    &:focus-within + .formItem input,
    &:focus-within + .formItem textarea {
      border-top-color: styles.$theme-secondary;
      box-shadow: 0px -1px styles.$theme-secondary;
      //   0px 1px styles.$theme-secondary inset;
    }
  }
}

.contact {
  display: block;
  margin: auto;
  padding: styles.$standardVerticalMargin styles.$outsideMargin;
  max-width: 80rem;
  color: styles.$theme-greyText;

  h2 {
    font-weight: 300;
    font-size: 32px;
  }

  @include styles.inputs;

  form {
    @include styles.desktop {
      @include attached-form;

      button[type='submit'] {
        margin-top: 1em;
        float: right;
      }
    }

    @include styles.tablet {
      @include attached-form;

      button[type='submit'] {
        margin-top: 1em;
        float: right;
      }
    }

    button {
      transition-duration: 0.18s;
      p {
        display: inline-block;
        padding: 0;
        margin: 0;
      }
    }

    button[type='submit'].waiting:hover,
    button[type='submit'].success:hover {
      outline: none;
      cursor: auto;
    }

    button[type='submit']:not(.waiting):not(.success) {
      background-color: #245b91;
      color: white;
    }

    button[type='submit'].success {
      color: #245b91;
      border-color: #245b91;

      p {
        animation: fadeIn 1.2s forwards;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
