---
import { Footer, Header } from "components";
import Layout from "layouts/layout.astro";
import 'styles/root.scss';
import { Contact as Component } from "./contact";
---

<Layout>
    <main>
        <Header client:load />
        <Component client:only />
        <Footer />
      </main>
</Layout>