---
import { Footer, Header } from "components";
import Layout from "layouts/layout.astro";
import 'styles/root.scss';
import { Skills as Component } from "./skills";
---

<Layout>
    <main>
        <Header client:load />
        <Component />
        <Footer />
      </main>
</Layout>