@use "styles";

.wrapper {
  position: relative;

  @include styles.tablet {
    input,
    textarea,
    .error {
      font-size: 0.8em;
    }
  }

  .anchor {
    position: absolute;
    top: 0;
    left: 8rem;
    content: "";
  }

  .error {
    color: styles.$theme-secondary;
  }

  .tooltip {
    z-index: 10;
  }
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
