@use "styles" with (
  $standardVerticalMargin: 12em
);

@mixin vertical {
  flex-direction: column;
  justify-content: center;

  > :last-child {
    margin: 0;
  }
}

$titleSize: 48px;
$mediumTitleSize: 40px;
$smallTitleSize: 30px;
$logoMargin: styles.$imageMargin;

.header {
  z-index: 2;
  transition-duration: 0.3s;
  @include styles.desktop {
    position: sticky;
    top: 0;
  }

  @include styles.horizontal-tablet {
    position: sticky;
    top: 0;
  }

  padding: 3em;
  color: styles.$header-textColor;
  background: fixed
    linear-gradient(
      to bottom right,
      styles.$header-topLeftBackground,
      styles.$header-bottomRightBackground
    );

  display: flex;
  align-items: center;
  justify-content: flex-start;

  > :last-child {
    margin-left: auto;
  }

  @include styles.vertical-tablet {
    @include vertical;
  }
  @include styles.phone {
    @include vertical;
  }

  article {
    @include styles.vertical-tablet {
      margin: 2.5em;
    }

    @include styles.phone {
      margin: 2.5em;
    }
  }

  .links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    @include styles.phone {
      flex-direction: column;
      text-align: center;
    }

    .link {
      display: block;
      @include styles.link;
      margin: 0px 18px;
      padding-top: 15px;
      padding-bottom: 14px;
    }

    .bar {
      display: block;
      background-color: styles.$header-barColor;
      height: 1px;
      width: 100%;
    }
  }
}
