@use "styles";

@mixin column-ratios($first, $last) {
  > :first-child {
    flex-basis: $first;
  }

  > :last-child {
    flex-basis: $last;
  }
}

.timeline {
  padding: styles.$standardVerticalMargin styles.$outsideMargin;

  h2 {
    @include styles.section-header();
  }

  .row {
    display: flex;

    @include column-ratios(33.3%, 66.7%);

    @include styles.vertical-tablet {
      @include column-ratios(25%, 75%);
    }

    @include styles.phone {
      @include column-ratios(0, 100%);
    }
  }

  .row:last-of-type .itemWrapper {
    padding-bottom: 0;
  }
}
