@use 'styles';

.skills {
  padding: styles.$standardVerticalMargin styles.$outsideMargin;
  column-count: 3;

  ul {
    display: inline-block;
    line-height: 1em;
    list-style: none;
    padding-left: 0;
    font-weight: 300;
    margin: 1em;
    margin-bottom: 5em;

    h2 {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1em;
    }

    p {
      margin-top: 1.5em;
      margin-bottom: 0.3em;
    }
  }

  @include styles.vertical-tablet {
    column-count: 2;
  }

  @include styles.phone {
    column-count: 1;
    ul {
      display: block;
    }
  }
}
