* {
  font-family: 'Mulish', 'Roboto', 'Arial', sans-serif;
}

h1,h2,h3,h4,h5,h6,label {
  font-family: "Catamaran", "Roboto", "Arial", sans-serif;
}

/* https://m3.material.io/styles/typography/type-scale-tokens */
.display-large, h1 {
  font-weight: 300;
  font-size: 57pt;
  letter-spacing: -0.25pt;
  line-height: 64pt;
}

.display-medium {
  font-weight: 300;
  font-size: 45pt;
  letter-spacing: 0pt;
  line-height: 52pt;
}

.display-small {
  font-weight: 300;
  font-size: 36pt;
  letter-spacing: 0pt;
  line-height: 44pt;
}

.headline-large, h3, h4 {
  font-weight: 300;
  font-size: 32pt;
  letter-spacing: 0pt;
  line-height: 40pt;
}

.headline-medium, h5, h6 {
  font-weight: 300;
  font-size: 28pt;
  letter-spacing: 0pt;
  line-height: 36pt;
}

.headline-small {
  font-weight: 300;
  font-size: 24pt;
  letter-spacing: 0pt;
  line-height: 32pt;
}

.title-large, h2 {
  font-weight: 300;
  font-size: 22pt;
  letter-spacing: 0;
  line-height: 28pt;
}

.title-medium {
  font-weight: 500;
  font-size: 16pt;
  letter-spacing: 0.15pt;
  line-height: 24pt;
}

.title-small, hgroup sub {
  font-weight: 500;
  font-size: 14pt;
  letter-spacing: 0.1pt;
  line-height: 20pt;
}

.body-large {
  font-weight: 300;
  font-size: 16pt;
  letter-spacing: 0.5pt;
  line-height: 24pt;
}

.body-medium, p, a, span {
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 0.25pt;
  line-height: 20pt;
}

.body-small, sub {
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 0.4pt;
  line-height: 16pt;
}

li {
  margin: 4pt;
}