---
import { Footer } from "components";
import Layout from "layouts/layout.astro";
import 'styles/root.scss';
import { Education, Hero, Timeline, Skills } from "./home";
---

<Layout>
    <main>
        <Hero />
        <Timeline />
        <Education />
        <Skills />
        <Footer />
    </main>
</Layout>