<!doctype html>
<html lang="en">
	<html lang="en">
		<head>
		  <meta charset="utf-8" />
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <meta
			name="description"
			content="Personal outreach website of Joshua Schoep. The Schoep Project."
		  />
		  <link
			rel="icon"
			type="image/x-icon"
			href="https://assets.schoepproject.com/www/favicon.ico"
		  />
		  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
		  <link rel="preconnect" href="https://fonts.googleapis.com" />
		  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		  <link
			href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		  />
		  <title>The Schoep Project</title>
		</head>
	<body>
		<slot />
	</body>
</html>