@use "styles/colors";
@use "styles/splashes";
@use "styles/text" with (
  $linkTextColor: colors.$theme-secondary,
  $linkUnderlinePaddingOffset: 0.5rem
);

.body {
  display: inline-block;
  margin: 0rem;
  margin-bottom: 3rem;
  max-width: 40em;

  .header {
    margin-top: 0;
    color: colors.$timeline-headerColor;
    margin-bottom: 0.35em;
  }

  .link {
    @include text.link;
    color: colors.$timeline-dateColor;
    font-weight: bold;
    padding-bottom: 0.35rem;
    font-size: 0.8em;
  }

  .description,
  .skills {
    display: block;
    margin-top: 0.35rem;
  }

  .skills {
    margin-top: 1.2rem;
    padding-left: 1em;

    h5 {
      color: colors.$timeline-dateColor;
      margin: 0;
      margin-left: -1em;
    }
  }

  .description,
  .skill {
    font-weight: 300;
    color: colors.$timeline-textColor;
    font-size: 0.92em;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
  }
}
