.dots1 {
  animation: bounce 0.3s alternate ease-out infinite;
}

.dots2 {
  animation: bounce 0.3s alternate ease-out infinite;
  animation-delay: 0.1s;
}

.dots3 {
  animation: bounce 0.3s alternate ease-out infinite;
  animation-delay: 0.2s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-0.4em);
  }
}
